"*":
  editor:
    showIndentGuide: true
    fontFamily: "Menlo"
    invisibles: {}
    fontSize: 11
    showInvisibles: true
    confirmCheckoutHeadRevision: false
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "racer"
      "linter-jscs"
    ]
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
    excludeVcsIgnoredPaths: false
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "vim-mode": {}
  "tree-view": {}
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "keybinding-cheatsheet": {}
  linter: {}
  "linter-jshint":
    esnext: true
  racer: {}
  "git-blame": {}
".c.source":
  editor:
    tabLength: 4
    softTabs: false
".js.source":
  editor:
    tabLength: 4
    softTabs: true
